" global settings "
let mapleader = " "
let localleader = " "

inoremap kj <Esc>
set clipboard+=unnamed
set clipboard+=ideaput

" default settings "
set laststatus=2
set surround
set commentary
set wildmenu
set showmatch
set timeoutlen=500

set incrsearch
set hlsearch
set ignorecase
set showcmd
set hidden

" tab action "
map tn :action NextTab<CR>
map tp :action PreviousTab<CR>

" common editor settings "
" can find actions by `:actionlist pattern` in command-mode"
map <leader>xm :action SearchEverywhere<CR>
map <leader>S :action SaveAll<CR>
map <leader>qq :action FindInPath<CR>
map <leader>ss :action Find<CR>
" map <leader>xk :action CloseEditor<CR>
map <leader>g :action Git.Menu<CR>
map <leader>ff :action GotoFile<CR>
map <leader>m :action FileMenu<CR>
map <leader>pp :action PasteMultiple<CR>

map <leader>kk :action ToggleZenMode<CR>
map <leader>fr :action RecentFiles<CR>
map <leader>ii :action GotoSymbol<CR>

map <leader>aa :action $Copy<CR>
map <leader>ci :action CommentByLineComment<CR>
map <leader>fp :action CopyPaths<CR>
map <leader>zz :action PasteSimple<CR>
map <leader>yy :action PasteMultiple<CR>
map <leader>rf :action RefactoringMenu

" window manager "
map <leader>x2 :action VimWindowSplitHorizontal<CR>
map <leader>x3 :action VimWindowSplitVeritical<CR>

" terminal manager "
" map ,xz :action ActivateTerminalToolWindow<CR>
map <C-]> :action GotoImplementation<CR>

" norevmap ,x0 :q<CR>
map ; :

" more instruction"
" gd: gotodefinition, but when you are at function definition, gd: findusage"

" insert-mode move
inoremap <c-f> <right>
inoremap <c-b> <left>
inoremap <c-n> <down>
inoremap <c-p> <up>
inoremap <c-a> <home>
inoremap <c-e> <end>

" ex-mode move
cnoremap <c-f> <right>
cnoremap <c-b> <left>
cnoremap <c-n> <down>
cnoremap <c-p> <up
