" global settings "
let mapleader = ","
let localleader = ","

inoremap kj <Esc>
set clipboard+=unnamedplus
set clipboard+=ideaput

" default settings "
set laststatus=2
set surround
set commentary
set wildmenu
set showmatch
set timeoutlen=500

set incrsearch
set hlsearch
set ignorecase
set showcmd
set hidden

" tab action "
map tn :action NextTab<CR>
map tp :action PreviousTab<CR>

" common editor settings "
" can find actions by `:actionlist pattern` in command-mode"
map ,xm :action SearchEverywhere<CR>
map ,xs :action SaveAll<CR>
map ,qq :action FindInPath<CR>
map ,ss :action Find<CR>
map ,xk :action CloseEditor<CR>
map ,gg :action Git.Menu<CR>
map ,ff :action GotoFile<CR>
map ,fm :action FileMenu<CR>
map ,uu :action FindUsages<CR>

map ,kk :action ToggleZenMode<CR>
map ,rr :action RecentFiles<CR>
map ,ii :action GotoSymbol<CR>

map ,aa :action $Copy<CR>
map ,ci :action CommentByLineComment<CR>
map ,fp :action CopyPaths<CR>
map ,zz :action PasteSimple<CR>
map ,yy :action PasteMultiple<CR>
map ,rf :action RefactoringMenu

" window manager "
map ,x2 :action VimWindowSplitHorizontal<CR>
map ,x3 :action VimWindowSplitVeritical<CR>

" terminal manager "
map ,xz :action ActivateTerminalToolWindow<CR>
map <C-]> :action GotoImplementation<CR>

norevmap ,x0 :q<CR>
